---
import { formatDate } from '@support/date';
import type { CollectionEntry } from 'astro:content';

export type Props = {
  posts: CollectionEntry<'blog'>[];
};
const { posts } = Astro.props;
---

<div class="post-items">
{posts.map((post) => {
  const href = `/blog/${post.slug}`;
  const { data: { title, description } } = post;
  return (
    
      <div class="post-item">
        <h3>
          <a href={href}>{title}</a>
        </h3>
        { description && <p>{description}</p> }
        <div class="post-item-footer">
          {post.data.tags.map((tag) =>
            <span class="tag-chip">{tag}</span>
          )}
          <span class="post-item-date">— {formatDate(post.data.publishDate)}</span>
        </div>
      </div>
    
  )
})}
</div>

<style>
  .post-items {
    /* display: grid;
    gap: 1rem;  
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); */
  }

  .post-item {
    background-color: var(--background-accent);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
  }

  .tag-chip {
    padding: 3px 6px;
    margin-right: 3px;
    border-radius: 5px;
    background-color: var(--background-body);
  }
</style>